/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  /* line-height: 1; */
  font-family: 'Montserrat', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */

/* page css */

.header{
  display:flex;
  justify-content: space-between;
  padding:30px 100px 0;
}

.gnb-list{
  display:flex;
}

.gnb-list-item{
  height:60px;
  margin-left:60px;
  position:relative;
}

.gnb-list-link{
  font-family: 'Montserrat', sans-serif;
  font-size:13px;
  font-weight:600;
  color:black;
  text-decoration:none;
}

.gnb-depth2{
  position:absolute;
  background:#f9f9f9;
  padding:0 10px;
  border:1px solid #333;
  top:45px;
  display:none;
}

.gnb-depth2.active{
  display:block;
}

.gnb-depth2-item{
  margin:10px 0;
}

.gnb-depth2-item > a{
  color:#555555;
  text-decoration:none;
}

.hamburger{
  display:none;
}

.main-slogan{
  height:300px;
  background:#f5f5f5;
  padding-top:100px;
  box-sizing:border-box;
}

.section-heading{
  font-size:38px;
  color:#171717;
  font-weight:600;
  text-align:center;
}

.section-paragraph{
  width:500px;
  text-align:center;
  margin:0 auto; /* margin:0 auto */
  padding:0 10%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:15px;
}

.mt20{
  margin-top:20px;
}

.image-group{
  display:flex;
  justify-content: center;
}

.image-item{
  width:340px;
  display:block;
}

.image-wrap{
  width:340px;
  height:256px;
  overflow:hidden;
  position:relative;
}

.image-item.video{
  width:466px; /* width:auto */
  height:256px;
  /* position을 사용한 가운데 배치 */
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-128px;
  margin-left:-233px;
}

.footer{
  height:280px;
  background:#141414;
  color:white;
  display:flex;
  justify-content:space-between;
  padding:100px 100px 0;
}

.company,
.right{
  display:block;
}

.sns-link{
  color:white;
  text-decoration:none;
}

@media screen and (max-width:1400px){
  .image-group{
    flex-wrap:wrap;
    width:680px;
    margin:auto;
  }
}

@media screen and (max-width:700px){
  .header{
    padding:20px;
  }
  .gnb{
    position:fixed;
    width:300px;
    height:500px;
    background:white;
    top:69px;
    right:0;
    padding:30px;
    border:1px solid #ddd;
    display:none;
  }
  .gnb.active{
    display:block;
  }

  .gnb-list{
    display:block;
  }
  .gnb-list-item{
    height:auto;
    margin-bottom:20px;
    margin-left:0;
  }
  .gnb-depth2{
    position:static;
    display:block;
    margin-top:20px;
    border:1px solid #ddd;
  }
  .hamburger{
    display:block;
    width:31px;
    height:25px;
    background:none;
    border:none;
    padding:0;
  }

  .hamburger>img{ /* class hamburger 요소에 포함된 img 자식요소 */
    width:100%;
    height:100%;
  }
  .section-heading{
    font-size:24px;
  }
  .section-paragraph{
    width:auto;
  }
  .image-group{
    width:340px;
  }

  .footer{
    height:auto;
    padding:20px;
    display:block;
  }
}

@media screen and (max-width:360px){
  .image-group{
    width:auto;
  }

  .image-item{
    width:100%;
  }
}